@import "src/components/theme/index.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: px-to-rem(2);
  border-style: solid;
  padding: $padding-container-md-with-borders;
  border-radius: $border-radius-sm;
  
  transition: all $transition-short;

  &:hover {
    cursor: pointer
  }

  &.primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-light;

    &:hover {
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
    }

    &:active {
      background-color: $color-primary-pressed;
      border-color: $color-primary-pressed;
    }

    &.disabled {
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-light;
    }

    &.destructive {
      background-color: $color-error;
      border-color: $color-error;
      color: $color-light;

      &:hover {
        background-color: $color-error-hover;
        border-color: $color-error-hover;
      }

      &:active {
        background-color: $color-error-pressed;
        border-color: $color-error-pressed;
      }

      &.disabled {
        background-color: $color-error;
        border-color: $color-error;
        color: $color-light;
      }
    }
  }

  &.secondary {
    background-color: white;
    border-color: $color-primary;
    color: $color-primary;

    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-light;
    }

    &:active {
      background-color: $color-primary-pressed;
      border-color: $color-primary-pressed;
      color: $color-light;
    }

    &.disabled {
      background-color: white;
      border-color: $color-primary;
      color: $color-primary;
    }

    &.destructive {
      background-color: white;
      border-color: $color-error;
      color: $color-error;

      &:hover {
        background-color: $color-error;
        border-color: $color-error;
        color: $color-light;
      }

      &:active {
        background-color: $color-error-pressed;
        border-color: $color-error-pressed;
        color: $color-light;
      }

      &.disabled {
        background-color: white;
        border-color: $color-error;
        color: $color-error;
      }
    }
  }
  
  &.ghost {
    background-color: transparent;
    border-color: transparent;
    color: $color-dark;

    &:hover {
      background-color: darken($color-light, 3%);
      border-color: darken($color-light, 3%);
      color: $color-primary-hover;
    }

    &:active {
      background-color: darken($color-light, 3%);
      border-color: darken($color-light, 3%);
    }
  
    &.disabled {
      background-color: transparent;
      border-color: transparent;
      color: $color-dark;
    }

    &.destructive {
      background-color: transparent;
      border-color: transparent;
      color: $color-error;

      &:hover {
        background-color: rgba($color-error, 0.1);
        border-color: rgba($color-error, 0.02);
        color: $color-error-hover;
      }

      &:active {
        background-color: rgba($color-error, 0.2);
        border-color: rgba($color-error, 0.05);
      }
    
      &.disabled {
        background-color: transparent;
        border-color: transparent;
        color: $color-error;
      }
    }
  }

  &.link {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    color: $color-dark;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $color-primary-hover;
    }

    &:active {
      background-color: transparent;
      border-color: transparent;
    }
  
    &.disabled {
      background-color: transparent;
      border-color: transparent;
      color: $color-dark;
    }

    &.destructive {
      padding: 0;
      background-color: transparent;
      border-color: transparent;
      color: $color-error;

      &:hover {
        background-color: transparent;
        border-color: transparent;
        color: $color-error-hover;
      }

      &:active {
        background-color: transparent;
        border-color: transparent;
      }
    
      &.disabled {
        background-color: transparent;
        border-color: transparent;
        color: $color-error;
      }
    }
  }

  &.rounded {
    border-radius: 999px;
  }

  &.fitContent {
    width: fit-content;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: $icon-size-sm;
      height: $icon-size-sm;
    }
  }

  .leftIcon {
    margin-inline-end: px-to-rem(4);
  }

  .rightIcon {
    margin-inline-start: px-to-rem(4);
  }

  &.disabled {
    cursor: not-allowed;
    filter: grayscale(0.2) opacity(0.5);
  }
}