@import "src/components/theme/index.scss";

.sidebarNavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $sidebar-nav-link-md;
  width: $sidebar-nav-link-md;
  border-radius: $border-radius-md;
  transition: all $transition-short;
  text-decoration: none;
  color: $color-primary;

  svg {
    width: $icon-size-lg;
    height: $icon-size-lg;
  }

  &:hover {
    background-color: darken($color-light, 10%);
  }

  &.active {
    background-color: darken($color-light, 10%);
  }

  &.expanded {
    width: 100%;
    height: unset;
    padding: px-to-rem(16);
    justify-content: flex-start;
    gap: px-to-rem(8)
  }
}