@import "src/components/theme/index.scss";

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $color-light;
  .columnsWrapper {
    overflow-x: auto;
    max-width: calc(100vw - 300px - 93px);
    max-height: calc(100vh - 155px);
    flex-grow: 1;
    display: flex;
    gap: $gap-lg;
    padding: $padding-box-xl $padding-box-xxl;

    .columns {
      display: flex;
      gap: $gap-lg;
    }
  }
}

@media (max-width: $tablet) {
  .board {
    .columnsWrapper {
      max-height: calc(100vh - 197px);
      max-width: calc(100vw - 93px);
    }
  }
}

@media (max-width: $mobile) {
  .board {
    .columnsWrapper {
      max-width: 100vw;
      max-height: unset;
    }
  }
}