@import "src/components/theme/colors.scss";
@import "src/components/theme/typography.scss";
@import "src/components/theme/sizes.scss";
@import "src/components/theme/utilities.scss";
@import "src/components/theme/animations.scss";
@import "src/components/theme/breakpoints.scss";

$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;