@import "src/components/theme/utilities.scss";

// BORDER RADIUS

$border-radius-sm: px-to-rem(4);
$border-radius-md: px-to-rem(8);
$border-radius-rounded: 999px;


// FIXED SIZE

$icon-size-xs: px-to-rem(18);
$icon-size-sm: px-to-rem(22);
$icon-size-lg: px-to-rem(30);
$sidebar-nav-link-md: px-to-rem(60);

$height-container-md: px-to-rem(45);

// PADDING

$padding-container-md: px-to-rem(6) px-to-rem(12);
$padding-container-lg: px-to-rem(32) px-to-rem(16);
$padding-box-sm: px-to-rem(4);
$padding-box-md: px-to-rem(6);
$padding-box-lg: px-to-rem(8);

// MARGIN

$margin-sm: px-to-rem(6);

// GAP

$gap-sm: px-to-rem(4);
$gap-md: px-to-rem(12);
$gap-lg: px-to-rem(16);
$gap-xxl: px-to-rem(60);

// BORDER

$border-size-sm: 1px;
$border-size-md: 2px;
