@import "src/components/theme/index";

.kanbanColumnHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: $gap-md;
  height: $height-container-md;
  padding: $padding-container-md;
  border-radius: $border-radius-md;
  background-color: $color-primary;
  color: $color-light;
  
  .numberOfTasks {
    background-color: #{$color-dark}33;
    padding: px-to-rem(4) px-to-rem(10);
    border-radius: $border-radius-rounded;
    span {
      font-weight: 700;
    }
  }
  
  .title {
    flex-grow: 1;
  }

  .actions {
    display: flex;
    gap: $gap-sm;
    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #{$color-dark}33;
      padding: $padding-box-md;
      border-radius: $border-radius-rounded;

      transition: all $transition-short;

      &:hover {
        cursor: pointer;
        background-color: #{$color-dark}44;
      }

      &:active {
        background-color: #{$color-dark}55;
      }

      svg {
        width: $icon-size-xs;
        height: $icon-size-xs;
      }
    }
  }
}