@import "src/components/theme/index";

.kanbanColumnHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: px-to-rem(12);
  height: px-to-rem(45);
  padding: $padding-container-md;
  border-radius: $border-radius-md;
  background-color: $color-primary;
  color: $color-light;
  
  .numberOfTasks {
    background-color: #{$color-dark}33;
    padding: px-to-rem(4) px-to-rem(10);
    border-radius: $border-radius-rounded;
    span {
      font-weight: 700;
    }
  }
  
  .title {
    span {
      font-weight: 700;
    }
    flex-grow: 1;
  }

  .actions {
    display: flex;
    flex-direction: columns;
    gap: px-to-rem(4);
    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #{$color-dark}33;
      padding: px-to-rem(6) px-to-rem(6);
      border-radius: $border-radius-rounded;

      transition: all $transition-short;

      &:hover {
        cursor: pointer;
        background-color: #{$color-dark}44;
      }

      &:active {
        background-color: #{$color-dark}55;
      }

      svg {
        z-index: 1;
        width: 18px;
        height: 18px;
      }
    }
  }
}