@import "src/components/theme/index.scss";

.boardsStructure {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .boardWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: filter $transition-short;
    &.scrollable {
      overflow-y: auto;
      max-height: 100vh; /* Support for legacy browsers */
      max-height: 100dvh;
    }
    .header {
      padding: $padding-box-xl $padding-box-xxl;
      padding-bottom: 0;
    }
  }
}

@media (max-width: $tablet) {
  .boardsStructure {
    .boardWrapper {
      .boardListPanel {
        display: none;
      }
    }
  }
}