@import "src/components/theme/index.scss";

.kanbanColumn {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  background-color: lighten($color-light, 2%);
  padding: $padding-box-lg;
  border-radius: $border-radius-md;
}