@import "src/components/theme/index.scss";

.kanbanColumn {
  display: flex;
  flex-direction: column;
  background-color: darken($color-light, 2%);
  padding: $padding-box-lg;
  padding-bottom: 0;
  border-radius: $border-radius-md;
  min-width: px-to-rem(300);
  height: 100%;
  .tasks {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    height: 100%;
    overflow-y: auto;
    padding-top: px-to-rem(12);
    padding-bottom: px-to-rem(8);
    &::-webkit-scrollbar {
      display: none;
    }
  }
}