@import "src/components/theme/index.scss";

.kanbanColumn {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  background-color: $color-light;
  padding: $padding-box-lg;
  border-radius: $border-radius-md;
  min-width: px-to-rem(300);
  height: 100%;
  .tasks {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    height: 100%;
    overflow-y: auto;
  }
}