@import "src/components/theme/index.scss";

.navLink {
  text-decoration: none;
  color: $color-primary;

  transition: all $transition-short;

  &:hover {
    color: $color-primary-hover;
  }

  &:active {
    color: $color-primary-pressed;
  }

  &.active {
    text-decoration: underline;
  }
}