@import "src/components/theme/index.scss";

.authHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: px-to-rem(1) solid darken($color-light, 10%);
  background-color: $color-light;
  padding: px-to-rem(16);
  .menu {
    position: fixed;
    top: px-to-rem(71);
    left: 0;
    height: calc(100% - 71px);
    width: 100%;
    overflow-y: auto;
    background-color: $color-light;
    z-index: $z-index-4;
    display: flex;
    flex-direction: column;
    padding: px-to-rem(16);
    visibility: hidden;
    opacity: 0;
    transition: visibility $transition-short, opacity $transition-short;

    &.open {
      visibility: visible;
      opacity: 1;
      
    }

    .navLinks {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: px-to-rem(16);
    }
    
    .actionLinks {
      display: flex;
      flex-direction: column;
      gap: px-to-rem(16);
    }
  }
}