@import "src/components/theme/index.scss";

@keyframes fadeIn {
	from {
		opacity: 0;
    scale: 0;
	}
	to {
		opacity: 1;
    scale: 1;
	}
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color-dark, 0.5);
  display: flex;
  padding: $padding-box-xl;
  overflow: auto;
  &[data-state="open"] {
    .modalContent[data-state="open"] {
      animation: fadeIn 150ms ease-out;
    }
  }
  
  .modalContent {
    margin: auto;
    min-height: px-to-rem(200);
    min-width: px-to-rem(400);
    background-color: $color-light;
    border-radius: $border-radius-md;
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
    padding: $padding-box-xl;
    .heading {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: $gap-sm;
      border-radius: $border-radius-lg $border-radius-lg 0 0;
      .titlesWrapper {
        display: flex;
        flex-direction: column;
      }
      .closeButton {
        padding: 0;
      }
    }
    .content {
      flex-grow: 1;
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      gap: $gap-md;
    }
  }
  &.sm {
    .modalContent {
      max-width: px-to-rem(400);
    }
  }
}