@import "src/components/theme/index";

.taskCard {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
  border-radius: $border-radius-md;
  padding: $padding-container-md;
  border: $border-size-sm solid $color-light;
  background-color: white;

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    .title {
      flex-grow: 1;
    }
    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $padding-box-md;
      border-radius: $border-radius-rounded;

      transition: all $transition-short;

      &:hover {
        cursor: pointer;
        background-color: #{$color-light}99;
        padding: $padding-box-md;
        border-radius: $border-radius-rounded;
      }

      svg {
        height: $icon-size-xs;
        width: $icon-size-xs;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
  }
}