@import "src/components/theme/index.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-xxl;
  border-right: $border-size-sm solid darken($color-light, 10%);
  padding: $padding-container-lg;
  background-color: $color-light;

  .linksList {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
    list-style-type: none;
    padding: 0;
    margin: 0;
    .linkItem {
      padding: 0;
      margin: 0;
    }
  }

  .topSection {}

  .middleSection {
    flex-grow: 1;
  }

  .bottomSection {}
}