@import "src/components/theme/index.scss";

.appStructure {
  min-height: 100%;
  display: flex;
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
  .main {
    display: flex;
    flex-grow: 1;
  }
}