@import "src/components/theme/index.scss";


.textareaWrapper {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8);

  .textareaField {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(4);

    .label {
      font-weight: 600;
      font-size: px-to-rem(14);
      line-height: px-to-rem(16);
      color: $color-dark;
      transition: all $transition-short;
    }
  
    .textarea {
      border: 1px solid darken($color-light, 5%);
      border-radius: $border-radius-sm;
      background-color: #ffffff;
      padding: px-to-rem(10);
      color: $color-dark;
      transition: all $transition-short;
      resize: none;

      &:focus-visible {
        outline: none;
      }

      &.resizable {
        resize: unset;
      }
    }

    &:focus-within, &:hover {
      .label {
        color: $color-primary;
      }
      .textarea {
        border-color: $color-primary;
      }
    }
  }

  &.error {
    .errorLabel {
      color: $color-error;
    }
    .textareaField {
      .label {
        color: $color-error;
      }
      .textarea {
        border-color: $color-error;
      }
    }
  }

  &.disabled {
    .textareaField {
      .label {
        color: $color-disabled-text;
      }

      .textarea {
        background-color: darken($color-light, 2);
        color: $color-disabled-text;
        border-color: $color-disabled-bg;
        &::placeholder {
          color: $color-disabled-text;
        }
      }
      
      &:focus-within, &:hover {
        .label {
          color: $color-disabled-text;
        }
        .textarea {
          border-color: $color-disabled-bg;
        }
      }

      &:hover {
        cursor: not-allowed;
        .label {
          cursor: not-allowed;
        }
        .textarea {
          cursor: not-allowed;
        }
      }
    }
  }
}