@import "src/components/theme/index.scss";

.boardListPanelWrapper {
  display: flex;
  flex-direction: column;
  padding: $padding-container-lg;
  padding-top: px-to-rem(130);
  background-color: $color-light;
  border-right: $border-size-sm solid darken($color-light, 10%);
  min-width: px-to-rem(300);
  width: px-to-rem(300);
  .closeButton {
    display: none;
  }
}


@media (max-width: $tablet) {
  .boardListPanelWrapper {
    display: none;
  }
}

@media (max-width: $mobile) {
  .boardListPanelWrapper {
    display: none;
  }
}