@import "./src/index.scss";

.text {
  font-family: "Roboto", sans-serif;

  &.paragraph {
    &.text {
      &-size-lg {
        font-size: px-to-rem(18);
        line-height: px-to-rem(24);
      }
    
      &-size-md {
        font-size: px-to-rem(16);
        line-height: px-to-rem(24);
      }
    
      &-size-sm {
        font-size: px-to-rem(14);
        line-height: px-to-rem(16);
      }
    }
  }

  &.label {
    &.text {
      &-size-lg {
        font-size: px-to-rem(18);
        line-height: px-to-rem(24);
      }
    
      &-size-md {
        font-size: px-to-rem(16);
        line-height: px-to-rem(24);
      }
    
      &-size-sm {
        font-size: px-to-rem(14);
        line-height: px-to-rem(16);
      }
    }
  }

  &.link {
    text-decoration: none;
    color: $color-primary;
  
    transition: all $transition-short;

    &:hover {
      cursor: pointer;
      color: $color-primary-hover;
    }
  
    &:active {
      color: $color-primary-pressed;
    }
  
    &.active {
      text-decoration: underline;
    }
  }

  &-weight-400 {
    font-weight: 400;
  }

  &-weight-600 {
    font-weight: 600;
  }
}