@import "./src/index.scss";

.text {
  font-family: "Roboto", sans-serif;

  &.paragraph {
    &.text {
      &-size-lg {
        @include text-paragraph-lg;
      }
      &-size-md {
        @include text-paragraph-md;
      }
      &-size-sm {
        @include text-paragraph-sm;
      }
    }
  }

  &.label {
    &.text {
      &-size-lg {
        @include text-label-lg;
      }
      &-size-md {
        @include text-label-md;
      }
      &-size-sm {
        @include text-label-sm;
      }
    }
  }

  &.link {
    text-decoration: none;
    color: $color-primary;
  
    transition: all $transition-short;

    &:hover {
      cursor: pointer;
      color: $color-primary-hover;
    }
  
    &:active {
      color: $color-primary-pressed;
    }
  
    &.active {
      text-decoration: underline;
    }
  }

  &-weight-400 {
    font-weight: 400;
  }

  &-weight-500 {
    font-weight: 500;
  }

  &-weight-600 {
    font-weight: 600;
  }

  &.withoutMargins {
    margin: 0 !important;
  }
}

.ellipsis {
  &.paragraph {
    &.text {
      &-size-lg {
        &.max-lines-1 {
          @include max-lines(1, 24);
        }
        &.max-lines-3 {
          @include max-lines(3, 24);
        }
      }
      &-size-md {
        &.max-lines-1 {
          @include max-lines(1, 24);
        }
        &.max-lines-3 {
          @include max-lines(3, 24);
        }
      }
      &-size-sm {
        &.max-lines-1 {
          @include max-lines(1, 16);
        }
        &.max-lines-3 {
          @include max-lines(3, 16);
        }
      }
    }
  }

  &.label {
    &.text {
      &-size-lg {
        &.max-lines-1 {
          @include max-lines(1, 24);
        }
        &.max-lines-3 {
          @include max-lines(3, 24);
        }
      }
      &-size-md {
        &.max-lines-1 {
          @include max-lines(1, 22);
        }
        &.max-lines-3 {
          @include max-lines(3, 22);
        }
      }
      &-size-sm {
        &.max-lines-1 {
          @include max-lines(1, 16);
        }
        &.max-lines-3 {
          @include max-lines(3, 16);
        }
      }
    }
  }
}